In [1]:
import pandas as pd 
import numpy as np
df = pd.DataFrame(np.random.randn(6,4),columns=list("ABCD"))
df

          A         B         C         D
0 -0.102016 -0.449442  0.425327  1.699859
1  0.427100 -0.237076  1.046340 -1.745142
2 -1.107305 -0.179573 -0.433781 -0.364465
3  0.405860 -0.913452  0.596872  2.162418
4 -0.510142  0.263612 -0.382660 -2.086993
5  1.748953 -0.766351 -0.115888  1.400596

In [ ]:
import pandas as pd
import numpy as np
x = pd.date_range("20221201",periods=10)
df = pd.DataFrame(np.random.randn(10,5),index=x,columns=list("ABCDS"))
df.head()

In [3]:
students = {"First_Name":["Akash","Anirudh","Amish","Anmol"],
             "Subject":['Bca','Bcom',"Bsc","BA"],
             "Marks":[100,230,345,55],
             "College":["Ucoe","Kjs","Dj","Tcs"]}
             
df = pd.DataFrame(students)
df

  First_Name Subject  Marks College
0      Akash     Bca    100    Ucoe
1    Anirudh    Bcom    230     Kjs
2      Amish     Bsc    345      Dj
3      Anmol      BA     55     Tcs

In [ ]:
df.dtypes
df.index
df.T #here we can perfor the transpose of the row and columns

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('Uber.csv')
df

In [ ]:
# here We Can Perform the Slicing part indivisulaly
df.loc[10:22,["START_DATE*","PURPOSE*","CATEGORY*"]]

In [ ]:
df.set_index('START_DATE*',inplace= True)

In [ ]:
df

In [ ]:
# Here We Can Pertform thr  Slicing parrt 
df.loc["Fort Pierce"]

In [ ]:
# Here We Can reset the index 
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
# here we can sort the index i decending order
df.sort_index(ascending=False)

In [ ]:
df

In [ ]:
filter = (df["First_Name"] == "Amish") & (df["Marks"] == 345) 
filter

How to upade a Column

In [ ]:
df.rename(columns={"First_Name":"Name"},inplace=True)
df

How to Update a Selected Row

In [ ]:
df.loc[2]=['Ashok',"MBA",245,"MIT","Austria"]
df

Update a Selected Row

In [ ]:
df.loc[2,'Name']='Arvind'
df

In [ ]:
df.drop(columns=["Marks"],inplace=True)
df

In [ ]:
df.sort_values(by='College')

In [ ]:
df

In [ ]:
country = ['India',"Usa","Uae","Pak"]
df['Country'] = country
df

In [ ]:
df.sort_values(by=["Name","College","Country"],ascending=[True,False,False])

In [ ]:
df['Marks'].median()

In [ ]:
df.value_counts(['Marks'])

In [ ]:
df

In [ ]:
df.value_counts(["START*"])

In [ ]:
df.head(5)

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('IPL.csv')

In [ ]:
df.head(5)